/*
    Bleu foncé du logo: #2290cb rgb(34, 144, 203)
    Bleu clair du logo: #424242 rgb(65, 175, 226) changer HEXA il est gris
    Blanc bleuté: #e3f2fd rgb(227, 242, 253)
    Gris foncé logo: #424242 rgb(66, 66, 66)
    Rose:  #e91e63  rgb(14, 145, 230)
*/

html {
    background: rgb(227, 242, 253);
    font-family: 'Open Sans', sans-serif;
}

.small {
    width: 18%;
}

.medium {
    width: 28%;
}

.large {
    width: 48%;
}

.small, .medium, .large {
    border: 1px solid black;
    /*margin: 0;
    padding: 1%;*/
}

/*************************/
/********* HEADER ********/
/*************************/
    header {
        background: #2290cb;
        color: #e3f2fd;
        font-size: 18px;
        height: 80px;
        position: fixed;
        width: 100%;
    }

    header img {
        float: left;
        height: 60px;
        margin: 10px;
    }

    header nav {
        margin: 23px 0 0 0;
        margin-left: calc(100% - 510px);
        width: 510px;
    }

    nav ul {
        padding: 10px;
    }

    nav ul li {
        display: inline;
        margin: 10px 30px 10px 0;
    }

    nav ul li:hover {
        cursor:pointer;
        text-decoration: underline;
    }


/****************************/
/********* CONTENT **********/
/****************************/
    .content {
        margin: 0;
        padding:0;
    }

    /****************************/
    /********* LEFT-SIDE ********/
    /****************************/

        .block {
            display: inline-block;
        }

        .block:first-child {
            background: orange;
        }

        .parterns{

        }

        .partner{
            border: 1px solid black;
            display: inline-block;
            width: 48%;
        }


    /****************************/
    /********* MIDDLE    ********/
    /****************************/
        p{
            text-align: justify;
        }
    

    /*****************************/
    /********* RIGHT-SIDE ********/
    /*****************************/
        
        aside {
            border: 1px solid black;
            padding: 0;
            position: fixed;
            top: 80px;
            right: 0;
        }

        .phone-number{
            background-color: #000;
            color: #FFF;
            font-size: 20px;
            height: 40px;
            text-align: center;
        }

        .cost-estimate{
            background-color: rgb(65, 175, 226);
            height: 250px;
            padding: 5%;
        }