/*
    Bleu foncé du logo: #2290cb rgb(34, 144, 203)
    Bleu clair du logo:  rgb(65, 175, 226)
    Blanc cassé: rgb(245, 245, 245)
    Gris foncé logo: #424242 rgb(66, 66, 66)
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Propriétés générales ~~~~~~~~~~~~~~~~~~~~~~~~ */

    @font-face {
        font-family: 'Sertig';
        src: url('fonts/Sertig.otf');
        font-weight: normal;
        font-style: normal;}

    html {
        background: rgb(235, 235, 235);
        font-family: 'Sertig', sans-serif;}

    h1, h2{
        font-size: 32px;
        margin: 20px;}

    a{
        color:white;
        text-decoration: none;}

    a:visited{
        text-decoration: none;}

    p{
        margin: 6px;
        padding: 6px;
        text-align: justify;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Classes CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .small, .medium, .large {
        vertical-align: top;}

    .small {
        padding: 1%;
        width: 17%;}

    .medium {
        width: 25%;}

    .large {
        width: 52%;}

    .btn:hover{
        background-color: #FFF;
        color: #2290cb;
        cursor: pointer;}

    .btn {
        background-color: #2290cb;
        border: none;
        color: #FFF;
        margin: 6px;
        width: 85%;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Header      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    header {
        background: #222;
        border-bottom: 1px solid rgb(60,60,60);
        color: #e3f2fd;
        height: 60px;
        position: fixed;
        top:0px;
        width: 100%;}

    header img {
        float: left;
        height: 56px;
        margin: 2px;}

    header nav {
        font-size: 18px;
        margin: 15px 0 0 0;
        margin-left: calc(100% - 510px);
        margin-left: -webkit-calc(100% - 510px);
        margin-left: -moz-calc(100% - 510px);
        width: 510px;}

    nav ul {
        padding: 10px;}

    nav ul li {
        display: inline;
        margin: 10px 30px 10px 0;}

    nav ul li:hover {
        cursor:pointer;
        text-decoration: underline;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Content     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .content {
        margin: 80px 0 0 0;
        padding:0;}

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Left side  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
        
        aside {
            font-family: 'Raleway', sans-serif;
            padding: 0;
            position: fixed;
            left: 20px;
            min-height: 40px;
            text-align: center;
            top: 80px; 
            background-color: #222;
            color: #FFF;}

        aside h2{
            clear: both;
            font-size: 1.4rem;
            margin-bottom: 2rem;
            text-transform: uppercase;}

        .phone-number{
            font-size: 16px;
            margin-bottom: -20px;
            padding: 8px;
            text-align: center;}

        .phone-number img{
            height:20px;
            margin: 0 2px -2px 2px;}

        .cost-estimate{
            padding: 5%;}

        input, textarea{
            background-color: #FFF;
            border: 1px solid #DDD;
            color: #222;
            font-family: "Raleway",sans-serif;
            font-size: 1.2em;
            font-weight: 300;
            margin: 6px;
            padding: 5px;
            width: 80%;}

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Middle        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

        .middlePart{
            margin-left: 28%;}

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Right side     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

        .block {
            display: inline-block;}

        .partners{
            text-align: center;
            padding: 25px;}

        .partners a img{
            width:70%;}

        .partners h3{
            text-transform: uppercase;
            padding:10px;}

        .partner{
            display: inline-block;
            padding:2%;
            width: 44%;}

        .partner:hover{
            background: #2290cb;
            color: white;
            cursor: pointer;}

        .partner img{
            width: 80%;}

        .partner p{
            margin: 5px 5px -5px 5px;
            padding: 5px;
            text-align: center;}