/*
    Bleu foncé du logo: #2290cb rgb(34, 144, 203)
    Bleu clair du logo:  rgb(65, 175, 226) changer HEXA il est gris
    Blanc cassé: rgb(245, 245, 245)
    Gris foncé logo: #424242 rgb(66, 66, 66)
    Rose:  #e91e63  rgb(14, 145, 230)
*/

html {
    background: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 20px;
}

.small {
    width: 20%;
}

.medium {
    width: 28%;
}

.large {
    width: 58%;
}

.small, .medium, .large {
    
    /*margin: 0;
    padding: 1%;*/
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #41afe2;
  font-size: 18px;
  background: #FF;
  padding: 5px 10px;
  text-decoration: none;
  width:100px;
}

.btn:hover {
    background: rgb(66,66,66);
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

/*************************/
/********* HEADER ********/
/*************************/
    header {
        background: #2290cb;
        color: #e3f2fd;
        font-size: 18px;
        height: 60px;
        position: fixed;
        top:0px;
        width: 100%;
    }

    header img {
        float: left;
        height: 56px;
        margin: 2px;
    }

    header nav {
        font-size: 14px;
        margin: 15px 0 0 0;
        margin-left: calc(100% - 510px);
        width: 510px;
    }

    nav ul {
        padding: 10px;
    }

    nav ul li {
        display: inline;
        margin: 10px 30px 10px 0;
    }

    nav ul li:hover {
        cursor:pointer;
        text-decoration: underline;
    }


/****************************/
/********* CONTENT **********/
/****************************/
    .content {
        margin: 80px 0 0 0;
        padding:0;
    }

    /****************************/
    /********* LEFT-SIDE ********/
    /****************************/

        .block {
            display: inline-block;
        }

        .block:first-child {
            background: orange;
        }

        .parterns{

        }

        .partner{
            border: 1px solid black;
            display: inline-block;
            width: 48%;
        }


    /****************************/
    /********* MIDDLE    ********/
    /****************************/
        p{
            text-align: justify;
        }
    

    /*****************************/
    /********* RIGHT-SIDE ********/
    /*****************************/
        
        aside {
            padding: 0;
            position: fixed;
            right: 0;
            text-align: center;
            top: 60px; 
        }

        .phone-number{
            background-color: rgb(66, 66, 66);
            color: #FFF;
            font-size: 16px;
            padding: 10px;
            text-align: center;
        }

        .cost-estimate{
            background-color: rgb(65, 175, 226);
            padding: 5%;
        }

        input, textarea{
            width: 92%;
            margin:2% 4%;
            padding:5px;
        }